In [1]:
import pandas as pd
!pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.5.1)

#### Load the data from table on the website into a dataframe

In [2]:
dfToronto = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

#### Read all the indexes where Borough is 'Not assigned'

In [3]:
indexNames = dfToronto[ (dfToronto['Borough'] == 'Not assigned') ].index

#### Drop all the rows with the indexes where Borough was 'Not assigned'

In [4]:
dfToronto.drop(indexNames, inplace=True)

#### Group by to obtain the neighborhood with comma separated values

In [5]:
tdf = dfToronto.groupby(['Postal Code','Borough'], as_index=False,  sort=False).sum()

In [6]:
tdf.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

#### Saving the CSV into a local file

In [7]:
tdf.to_csv("ParsedData.csv")

#### Note: On examining the data, there are no cells where neighborhood is 'Not assigned' - so cleanup code is not required

#### Print the number of rows in data frame

In [10]:
tdf.shape

#### Add new columns to the transformed data frame

In [31]:
tdf['Latitude']=""
tdf['Longitude']=""

#### Read the CSV for geo spatial coordinates

In [33]:
tdf2 = pd.read_csv("Geospatial_Coordinates.csv")
tdf2

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

#### Lookup for latitude and longitude by using postal code and set those values

In [26]:
for i in range(len(tdf)):
  cpostal = tdf['Postal Code'].values[i]
  index = tdf2.loc[ (tdf2['Postal Code'] == cpostal )] 
  tdf['Latitude'].values[i]= tdf2['Latitude'].values[i] 
  tdf['Longitude'].values[i]= tdf2['Longitude'].values[i]

#### View final tdf

In [27]:
tdf

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.8067,-79.1944
1,M4A,North York,Victoria Village,43.7845,-79.1605
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.7636,-79.1887
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.771,-79.2169
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.7731,-79.2395
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.7069,-79.5182
99,M4Y,Downtown Toronto,Church and Wellesley,43.6963,-79.5322
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.6889,-79.5547
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.7394,-79.5884
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.7067,-79.5941

#### Save final dataframe into a CSV

In [30]:
tdf.to_csv("ParsedDataWithLatLong.csv")